.drawer-container {
  height: auto !important;
}

.sidenav-content {
  display: flex;
  height: 100%;

}

.sidenav {
  padding: 20px;
  width: 200px;
  top: 64px;
}

.container {
  margin: 20px !important;
  padding: 50px 1rem;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 99999;
}