<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">Builders</a>
      <a mat-list-item routerLink="reference">References</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Angular Builders</span>
        <span class="example-spacer"></span>
        <a href="https://github.com/santoshyadav198613/angular-builder" mat-button class="github-button">
          <span>
            <img class="github-icon"
              src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg" alt="Github">
            Github
          </span>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
