

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url('../../../../assets/icons/search-1x.png') no-repeat;
	background-position: right 10px top 8px;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 85px;
	
	-webkit-border-radius: 8em;
	-moz-border-radius: 8em;
	border-radius: 8em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

/* Demo 2 */
#expand-search {
	display: flex;
}

#expand-search .clear-icon{
	cursor: pointer;
	color: red;
	font-weight: bold;
	padding-left: 1rem;
}

#expand-search input[type=search] {
	width: 180px;
	height: 34px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
	font-size: 16px;
}

#expand-search input[type=search]:hover {
	background-color: #fff;
}
#expand-search input[type=search]:focus {
	color: #000;
	background-color: #fff;
	cursor: auto;
	
}
