accordion-group {
  margin-bottom: 20px;
}

.heading {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading app-search-bar {
  padding-left: 1rem;
}

mat-expansion-panel-header {
  background-color: #3f51b5 !important;
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #3f51b5;
}

div {
  padding-top: 16px;
}

mat-panel-title {
  color: white;
  font-size: 17px;
  line-height: 34px;
  width: 100%;
}

mat-expansion-panel-header.mat-expanded {
  height: 45px;
}
